<div id="about">
    <div id="wrapper">
        <div id="banner">
            <img src="assets/logo.png" alt="SeedSync" />
            <span><b>Seed</b>Sync</span>
        </div>
        <div id="version">v{{version}}</div>
        <div id="description">
            A tool to sync files from a remote Linux server, such as a seedbox, to your local machine.
        </div>
        <div id="project-links">
            <div>Maintained fork:
                <a target="_blank" href="https://github.com/truedarkdev/seedsync">truedarkdev/seedsync</a>
            </div>
            <div>Original project:
                <a target="_blank" href="https://github.com/ipsingh06/seedsync">ipsingh06/seedsync</a>
            </div>
            <div>Issues:
                <a target="_blank" href="https://github.com/truedarkdev/seedsync/issues">GitHub Issues</a>
            </div>
        </div>
        <div id="copyright">Copyright © 2017-2020 Inderpreet Singh</div>
        <div id="fork-note">
            This maintained fork continues SeedSync with selective fixes, compatibility updates, and reliability improvements.
        </div>
        <div id="icons">
            Icons by Freepik, Yannick, Dave Gandy, Google and Smashicons from
            <a target="_blank" href="https://www.flaticon.com/">Flaticon</a>
        </div>
    </div>
</div>
