<div id="autoqueue">
    <span id="description" *ngIf="connected">

        <ng-container *ngIf="enabled && patternsOnly">
            Files matching these patterns will be automatically queued.
            Wildcards (*) are supported. <br />
            Add/Remove these patterns below.
        </ng-container>

        <ng-container *ngIf="enabled && !patternsOnly">
            Patterns are disabled. <b>All files will be auto-queued.</b><br />
            To restrict which files are auto-queued, enable patterns in Settings.
        </ng-container>

        <ng-container *ngIf="!enabled">
            Auto-Queue is disabled. <br />
            Enable AutoQueue in Settings to queue files automatically.
        </ng-container>
    </span>
    <div id="controls" [class.disabled]="!isPatternEditingEnabled()">
        <div *ngFor="let pattern of patterns | async"
             class="pattern">
            <div class="button" appClickStopPropagation
                 [class.disabled]="!isPatternEditingEnabled()"
                 [attr.aria-disabled]="!isPatternEditingEnabled()"
                 (click)="onRemovePattern(pattern)">
                <span>&#8722;</span>
            </div>
            <span class="text">{{pattern.pattern}}</span>
        </div>
        <div id="add-pattern">
            <div class="button" appClickStopPropagation
                 (click)="onAddPattern()"
                 [class.disabled]="!canAddPattern()"
                 [attr.aria-disabled]="!canAddPattern()">
                <span>&#43;</span>
            </div>
            <label>
                <input type="search"
                       class="form-control"
                       (keyup.enter)="onAddPattern()"
                       [(ngModel)]="newPattern"
                       [disabled]="!isPatternEditingEnabled()"/>
            </label>
        </div>
    </div>
</div>
