@use '../../common/common' as *;

#header {
    .alert {
        padding: 5px;
        margin-bottom: 0;
        border-radius: 0;

        button.close {
            top: 5px;
            right: 5px;
            cursor: pointer;
            user-select: none;
            outline: none;
            opacity: .2;
            font-size: 160%;
            padding: 0;

            &:hover,
            &:focus,
            &:focus-visible {
                color: red;
                opacity: .7;
            }

            &:active {
                color: red;
            }
        }
    }
}
